/* 菜单栏 导航 搜索框 */
/* breadcrumbs and searchbox */
.breadcrumbs {
  position: relative;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  min-height: 41px;
  line-height: 40px;
  padding: 0 12px 0 0;
  display: block;
}
.breadcrumbs.fixed,
.breadcrumbs.breadcrumbs-fixed {
  position: fixed;
  right: 0;
  left: 190px;
  top: 45px;
  z-index: 1028;
}
.breadcrumb {
  background-color: transparent;
  display: inline-block;
  line-height: 24px;
  margin: 0 22px 0 12px;
  padding: 0;
  font-size: 13px;
  color: #333;
  border-radius: 0;
}
.breadcrumb > li,
.breadcrumb > li.active {
  color: #555555;
}
.breadcrumb > li > a {
  display: inline-block;
  padding: 0 4px;
  color: #4c8fbd;
}
.breadcrumb > li + li:before {
  font-family: FontAwesome;
  font-size: 14px;
  content: "\f105";
  color: #b2b6bf;
  margin-right: 2px;
  padding: 0 5px 0 2px;
  position: relative;
  top: 1px;
}
.breadcrumb .home-icon {
  margin-left: 4px;
  margin-right: 2px;
  font-size: 20px;
  position: relative;
  top: 2px;
}
@media only screen and (max-width: 991px) {
  .breadcrumb {
    margin-left: 90px;
  }
  .breadcrumbs.fixed,
  .breadcrumbs.breadcrumbs-fixed {
    position: relative !important;
    left: auto !important;
    right: auto !important;
    top: auto !important;
    z-index: auto !important;
  }
  body.breadcrumbs-fixed .ace-settings-container {
    top: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .breadcrumb > li > a {
    padding: 0 1px;
  }
}
@media only screen and (max-width: 320px) {
  .breadcrumb {
    margin-left: 36px;
  }
}
.container.main-container .breadcrumbs.breadcrumbs-fixed {
  left: auto !important;
  right: auto !important;
}
@media (min-width: 768px) {
  .container.main-container .breadcrumbs.breadcrumbs-fixed {
    width: 554px;
  }
  .container.main-container .menu-min + .main-content .breadcrumbs.breadcrumbs-fixed {
    width: 701px;
  }
}
@media (min-width: 992px) {
  .container.main-container .breadcrumbs.breadcrumbs-fixed {
    width: 774px;
  }
  .container.main-container .menu-min + .main-content .breadcrumbs.breadcrumbs-fixed {
    width: 921px;
  }
}
@media (min-width: 1200px) {
  .container.main-container .breadcrumbs.breadcrumbs-fixed {
    width: 974px;
  }
  .container.main-container .menu-min + .main-content .breadcrumbs.breadcrumbs-fixed {
    width: 1121px;
  }
}
.sidebar {
  width: 190px;
  float: left;
  position: relative;
  border: 1px solid #cccccc;
  border-width: 0 1px 0 0;
  background-color: #f2f2f2;
}
.sidebar:before {
  /* the grey background of sidebar */

  content: "";
  display: block;
  width: 190px;
  position: fixed;
  bottom: 0;
  top: 0;
  z-index: -1;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-width: 0 1px 0 0;
}
.sidebar.fixed,
.sidebar.sidebar-fixed {
  position: fixed;
  z-index: 1029;
  top: 45px;
  left: 0;
}
.sidebar.fixed:before,
.sidebar.sidebar-fixed:before {
  left: 0;
  right: auto;
}
/* side navigation */
li [class^="icon-"],
li [class*=" icon-"],
.nav-list li [class^="icon-"],
.nav-list li [class*=" icon-"] {
  width: auto;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus {
  background-color: #fafafa;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin: 0;
}
.nav-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #FCFCFC;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}
.nav-list > li:first-child {
  border-top: none;
}
.nav-list li > a:focus {
  outline: none;
}
.nav-list > li {
  /* the submenu indicator arrow */

  /* menu active/open states */

  /* submenu */

}
.nav-list > li > a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: #f9f9f9;
  color: #585858;
  text-shadow: none !important;
  font-size: 13px;
  text-decoration: none;
}
.nav-list > li > a > [class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px;
}
.nav-list > li > a:focus {
  background-color: #f9f9f9;
  color: #1963aa;
}
.nav-list > li > a:hover {
  background-color: #FFF;
  color: #1963aa;
}
.nav-list > li > a:hover:before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  width: 3px;
  max-width: 3px;
  overflow: hidden;
  background-color: #3382af;
}
.nav-list > li a > .arrow {
  display: inline-block;
  width: 14px !important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  color: #666666;
}
.nav-list > li a:hover > .arrow,
.nav-list > li.active > a > .arrow,
.nav-list > li.open > a > .arrow {
  color: #1963aa;
}
.nav-list > li.separator {
  height: 3px;
  background-color: transparent;
  position: static;
  margin: 1px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav-list > li.open > a {
  background-color: #fafafa;
  color: #1963aa;
}
.nav-list > li.active {
  background-color: #ffffff;
}
.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li.active > a:active {
  background-color: #ffffff;
  color: #2b7dbc;
  font-weight: bold;
  font-size: 13px;
}
.nav-list > li.active > a > [class*="icon-"] {
  font-weight: normal;
}
.nav-list > li.active > a:hover:before {
  /* no left side menu item border on active state */

  display: none;
}
.nav-list > li.active:after {
  /* the border on right of active item */

  display: inline-block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #2b7dbc;
  border-width: 0 2px 0 0;
}
.nav-list > li.open {
  border-bottom-color: #e5e5e5;
}
.nav-list > li.active .submenu {
  display: block;
}
.nav-list > li .submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #ffffff;
  border-top: 1px solid #e5e5e5;
}
.nav-list > li .submenu > li {
  margin-left: 0;
  position: relative;
  /* optional icon before each item */

}
.nav-list > li .submenu > li > a {
  display: block;
  position: relative;
  color: #616161;
  padding: 7px 0 9px 37px;
  margin: 0;
  border-top: 1px dotted #e4e4e4;
}
.nav-list > li .submenu > li > a:focus {
  text-decoration: none;
}
.nav-list > li .submenu > li > a:hover {
  text-decoration: none;
  color: #4b88b7;
}
.nav-list > li .submenu > li.active > a {
  color: #2b7dbc;
}
.nav-list > li .submenu > li a > [class*="icon-"]:first-child {
  display: none;
  font-size: 12px;
  font-weight: normal;
  width: 18px;
  height: auto;
  line-height: 12px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: 11px;
  z-index: 1;
  background-color: #FFF;
}
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child,
.nav-list > li .submenu > li:hover > a > [class*="icon-"]:first-child {
  display: inline-block;
}
.nav-list > li .submenu > li.active > a > [class*="icon-"]:first-child {
  color: #c86139;
}
.nav-list > li > .submenu > li:before {
  /* the horizontal line */

  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  left: 20px;
  top: 17px;
  border-top: 1px dotted #9dbdd6;
}
.nav-list > li > .submenu > li:first-child > a {
  border-top: 1px solid #FAFAFA;
}
.nav-list > li > .submenu:before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  left: 18px;
  top: 0;
  bottom: 0;
  border: 1px dotted #9dbdd6;
  border-width: 0 0 0 1px;
}
.nav-list > li.active > .submenu > li:before {
  border-top-color: #8eb3d0;
}
.nav-list > li.active > .submenu:before {
  border-left-color: #8eb3d0;
}
.nav-list li .submenu {
  /* needed for webkit based browsers to slideToggle without problem */

  overflow: hidden;
}
.nav-list li.active > a:after {
  display: block;
  content: "";
  position: absolute !important;
  right: 0;
  top: 4px;
  border: 8px solid transparent;
  border-width: 14px 10px;
  border-right-color: #2b7dbc;
}
.nav-list li.open > a:after {
  /* no caret for open menu item */
  display: none;
}
.nav-list li.active.open > .submenu > li.active.open > a.dropdown-toggle:after {
  /* don't display caret on active open item who is open and has children */

  display: none;
}
.nav-list li.active > .submenu > li.active > a:after {
  /** don't display caret on active item whose parent is not open
	useful for hiding the caret when submenu is sliding up */

  display: none;
}
.nav-list li.active.open > .submenu > li.active > a:after {
  /* display caret on active item whose parent is open */

  display: block;
}
.nav-list li.active.no-active-child > a:after {
  /* show caret for active menu item with childs which is not open(i.e. no submenu item is active) */

  display: inline-block !important;
}
.nav-list a .badge,
.nav-list a .label {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: 9px;
  right: 11px;
  opacity: 0.88;
}
.nav-list a .badge [class*="icon-"],
.nav-list a .label [class*="icon-"] {
  vertical-align: middle;
  margin: 0;
}
.nav-list a.dropdown-toggle .badge,
.nav-list a.dropdown-toggle .label {
  right: 28px;
}
.nav-list a:hover .badge,
.nav-list a:hover .label {
  opacity: 1;
}
.nav-list .submenu .submenu a .badge,
.nav-list .submenu .submenu a .label {
  top: 6px;
}
/* side menu minimizer icon */
.sidebar-collapse {
  border-bottom: 1px solid #e0e0e0;
  background-color: #f3f3f3;
  text-align: center;
  padding: 3px 0;
  position: relative;
}
.sidebar-collapse > [class*="icon-"] {
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #aaaaaa;
  border: 1px solid #bbbbbb;
  padding: 0 5px;
  line-height: 18px;
  border-radius: 16px;
  background-color: #ffffff;
  position: relative;
}
.sidebar-collapse:before {
  content: "";
  display: inline-block;
  height: 0;
  border-top: 1px solid #e0e0e0;
  position: absolute;
  left: 15px;
  right: 15px;
  top: 13px;
}
/* sidebar shortcuts icon */
.sidebar-shortcuts {
  background-color: #fafafa;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  line-height: 39px;
  max-height: 41px;
  margin-bottom: 0;
}
.sidebar-shortcuts-large {
  padding-bottom: 4px;
}
.sidebar-shortcuts-large > .btn {
  width: 41px;
  line-height: 24px;
  margin-top: -2px;
  padding: 0;
  border-width: 4px;
  text-align: center;
}
.sidebar-shortcuts-large > .btn > [class*="icon-"] {
  margin: 0;
}
.sidebar-shortcuts-mini {
  display: none;
  font-size: 0;
  width: 42px;
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffffff;
}
.sidebar-shortcuts-mini > .btn {
  border-width: 0 !important;
  font-size: 0;
  line-height: 0;
  padding: 8px !important;
  margin: 0 1px;
  border-radius: 0 !important;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::safari-only,
  .sidebar-shortcuts-mini > .btn {
    margin: 0;
  }
}
.nav-list > li > .submenu li > .submenu {
  border-top: none;
  background-color: transparent;
  display: none;
}
.nav-list > li > .submenu li.active > .submenu {
  display: block;
}
.nav-list > li > .submenu a > .arrow {
  right: 11px;
  top: 10px;
  font-size: 16px;
  color: #6B828E;
}
.nav-list > li > .submenu .open > a,
.nav-list > li > .submenu .open > a:hover,
.nav-list > li > .submenu .open > a:focus {
  background-color: transparent;
  border-color: #e4e4e4;
}
.nav-list > li > .submenu li > .submenu > li > a > .arrow {
  right: 12px;
  top: 9px;
}
.nav-list > li > .submenu li > .submenu > li {
  line-height: 16px;
}
.nav-list > li > .submenu li > .submenu > li:before {
  display: none;
}
.nav-list > li > .submenu li > .submenu > li > a {
  /*3rd level*/

  margin-left: 20px;
  padding-left: 22px;
}
.nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
  /*4th level*/

  margin-left: 20px;
  padding-left: 38px;
}
.nav-list > li > .submenu li > .submenu > li a > [class*="icon-"]:first-child {
  display: inline-block;
  color: inherit;
  font-size: 14px;
  position: static;
  background-color: transparent;
  margin-right: 1px;
}
.nav-list > li > .submenu li > .submenu > li a {
  font-size: 13px;
  color: #777;
}
.nav-list > li > .submenu li > .submenu > li a:hover {
  color: #316292;
  text-decoration: underline;
}
.nav-list > li > .submenu li > .submenu > li a:hover [class*="icon-"] {
  text-decoration: none;
  color: #316292;
}
.nav-list > li > .submenu li.open > a {
  color: #25639e;
}
.nav-list > li > .submenu li.open > a > [class*="icon-"]:first-child {
  display: inline-block;
}
.nav-list > li > .submenu li.open > a .arrow {
  color: #25639e;
}
.nav-list > li > .submenu li > .submenu li.open > a {
  color: #25639e;
}
.nav-list > li > .submenu li > .submenu li.open > a > [class*="icon-"]:first-child {
  display: inline-block;
  color: #1963aa;
}
.nav-list > li > .submenu li > .submenu li.open > a .arrow {
  color: #25639e;
}
.nav-list > li > .submenu li > .submenu li.active > a {
  color: #347cb3;
}
.nav-list > li > .submenu li > .submenu li.active > a > [class*="icon-"]:first-child {
  display: inline-block;
  color: #347cb3;
}
.nav-list > li.active.open li.active > a:after {
  top: 2px;
  border-width: 14px 8px;
}
.nav-list > li.active.open li.active.open li.active > a:after {
  top: 0;
}
.menu-min.sidebar {
  width: 43px;
}
.menu-min.sidebar:before {
  width: 43px;
}
.menu-min.sidebar + .main-content {
  margin-left: 43px;
}
.menu-min.sidebar + .main-content .breadcrumbs.fixed,
.menu-min.sidebar + .main-content .breadcrumbs.breadcrumbs-fixed {
  left: 43px;
}
.menu-min .nav-list a .badge,
.menu-min .nav-list a .label {
  position: relative;
  top: -1px;
  right: auto;
  left: 4px;
}
.menu-min .nav-list .submenu .submenu a .badge,
.menu-min .nav-list .submenu .submenu a .label {
  top: 0;
}
.menu-min .nav-list > li > a {
  position: relative;
}
.menu-min .nav-list > li > a > .menu-text {
  display: none;
  position: absolute;
  left: 42px;
  top: -2px;
  width: 174px;
  height: 40px;
  line-height: 38px;
  background-color: #f5f5f5;
  z-index: 121;
  -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  border: 1px solid #cccccc;
  padding-left: 12px;
}
.menu-min .nav-list > li > a.dropdown-toggle > .menu-text {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  top: -1px;
  left: 43px;
  width: 174px;
  border-bottom: 1px solid #dddddd;
}
.menu-min .nav-list > li > a .arrow {
  display: none;
}
.menu-min .nav-list > li > a:hover:before {
  /* the right side border on hover */

  width: 2px;
}
.menu-min .nav-list > li:hover > a {
  color: #1963aa;
}
.menu-min .nav-list > li:hover > a > .menu-text {
  display: block;
}
.menu-min .nav-list > li.active > a > .menu-text {
  border-left-color: #1963aa;
}
.menu-min .nav-list > li.open > a {
  background-color: #fafafa;
  color: #585858;
}
.menu-min .nav-list > li.open.active > a {
  background-color: #ffffff;
}
.menu-min .nav-list > li.open:hover > a {
  color: #1963aa;
}
.menu-min .nav-list > li.active > a {
  color: #2b7dbc;
}
.menu-min .nav-list > li.active > a:after {
  /* the caret */

  border-width: 10px 6px;
  top: 8px;
}
.menu-min .nav-list > li.active.open > a:after {
  display: block;
}
.menu-min .nav-list > li.active.open li.active > a:after {
  display: none;
}
.menu-min .nav-list > li > .submenu {
  background: #ffffff;
  position: absolute;
  z-index: 120;
  left: 42px;
  top: -2px;
  width: 176px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  padding-top: 40px;
  padding-bottom: 2px;
  display: none !important;
}
.menu-min .nav-list > li > .submenu:before {
  /* hide the tree like submenu in minimized mode */

  display: none;
}
.menu-min .nav-list > li > .submenu li:before {
  display: none;
}
.menu-min .nav-list > li > .submenu li > a {
  margin-left: 0;
  padding-left: 24px;
}
.menu-min .nav-list > li > .submenu li > a > [class*="icon-"]:first-child {
  left: 4px;
}
.menu-min .nav-list > li:hover > .submenu {
  display: block !important;
}
.menu-min .nav-list > li.active > .submenu {
  border-left-color: #2b7dbc;
}
.menu-min .sidebar-shortcuts {
  position: relative;
}
.menu-min .sidebar-shortcuts-mini {
  display: block;
}
.menu-min .sidebar-shortcuts-large {
  display: none;
  position: absolute;
  z-index: 20;
  top: -1px;
  left: 42px;
  width: 182px;
  padding: 0 2px 1px;
  background-color: #ffffff;
  -webkit-box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 1px 2px 0 rgba(0,0,0,0.2);
  border: 1px solid #cccccc;
}
.menu-min .sidebar-shortcuts:hover .sidebar-shortcuts-large {
  display: block;
}
.menu-min .sidebar-collapse {
  /* minimized collapse button */

}
.menu-min .sidebar-collapse:before {
  left: 5px;
  right: 5px;
}
.menu-min .sidebar-collapse > [class*="icon-"] {
  font-size: 13px;
  padding: 0 4px;
  line-height: 15px;
  border-width: 1px;
  border-color: #aeaeae;
}
.menu-min .nav-list > li > .submenu li > .submenu > li > a {
  /*3rd level*/

  margin-left: 0px;
  padding-left: 30px;
}
.menu-min .nav-list > li > .submenu li > .submenu > li > .submenu > li > a {
  /*4th level*/

  margin-left: 0px;
  padding-left: 45px;
}
.menu-min .nav-list > li > .submenu li.active > a:after {
  display: none;
}
.menu-min .nav-list li.active.open > .submenu > li.active > a:after {
  display: none;
}
/* side menu toggler in mobile view */
.menu-toggler {
  display: none;
}
/* responsive sidebar */
@media only screen and (max-width: 991px) {
  .sidebar:before {
    display: none;
  }
  .sidebar {
    display: none;
    float: none;
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: auto;
    top: auto !important;
    /*so that it's applied even if it's .sidebar-fixed */
  
    margin-top: 40px;
    border: 1px solid #CCC;
    border-left-width: 0;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .sidebar.display {
    display: block;
  }
  .menu-toggler {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 998;
    width: 52px;
    height: 32px;
    margin-right: 2px;
    line-height: normal;
    padding-left: 33px;
    padding-top: 7px;
    padding-bottom: 1px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #444;
    color: #F3F3F3;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler:hover {
    text-decoration: none;
  }
  .menu-toggler:before {
    border-top: 1px solid #87B87F;
    border-bottom: 1px solid #6FB3E0;
    height: 2px;
    width: 24px;
    content: "";
    position: absolute;
    z-index: 11;
    top: 13px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler:after {
    border-top: 1px solid #FFA24D;
    border-bottom: 1px solid #D15B47;
    content: "";
    height: 2px;
    width: 24px;
    position: absolute;
    top: 19px;
    left: 4px;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -o-transition: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler.display:before {
    height: 4px;
    top: 8px;
    border-width: 2px;
  }
  .menu-toggler.display:after {
    height: 4px;
    top: 20px;
    border-width: 2px;
  }
  .menu-toggler > .menu-text {
    display: block;
    position: absolute;
    bottom: -18px;
    left: 0;
    border: 1px solid transparent;
    border-width: 9px 42px;
    border-top-color: #444;
  }
  .menu-toggler > .menu-text:after {
    display: block;
    color: #FFF;
    content: "MENU";
    position: absolute;
    left: -8px;
    top: -41px;
  }
  .nav-list > li.active:after {
    display: none;
  }
  .nav-list li.active > a:after {
    display: none;
  }
  .nav-list li.active.open > .submenu > li.active > a:after {
    display: none;
  }
  .menu-min .nav-list > li.active:after {
    display: block;
  }
  .menu-min .nav-list > li.active > a:after {
    display: block;
  }
}
@media only screen and (max-width: 320px) {
  .menu-toggler {
    width: 0;
  }
  .menu-toggler > .menu-text {
    border-width: 7px 16px;
    bottom: -14px;
  }
  .menu-toggler > .menu-text:after {
    font-size: 9px;
    font-weight: normal;
    color: #FFF;
    position: absolute;
    left: -13px;
    top: -42px;
  }
  .menu-toggler:before,
  .menu-toggler:after {
    margin-top: 8px;
  }
  .menu-toggler.display:before,
  .menu-toggler.display:after {
    height: 2px;
    border-width: 1px;
  }
  .menu-toggler.display:before {
    top: 13px;
  }
  .menu-toggler.display:after {
    top: 19px;
  }
}
/* not used yet */
/**
@media only screen and (max-width: 979px) {
 .sidebar.responsive-min {
   display:block;
   float:none;
   position:absolute;
   border-width:0 1px 1px 0;
  
   border-left:none;
   box-shadow:none;
   margin-top:0;
   z-index:14;
 }

 .sidebar.responsive-min.menu-min {
	border-bottom:none;
 }
 .sidebar.responsive-min.menu-min:before {
   display:block;
 }

.sidebar.responsive-min + .main-content {
	margin-left:43px !important;
 }
 .sidebar.responsive-min + .main-content .breadcrumbs.breadcrumbs-fixed { left:43px; }
 .sidebar.responsive-min + .main-content .breadcrumbs .breadcrumb {margin-left:10px;}

 .menu-toggler.responsive-min {
	display:none !important;
 }
}
*/
/* searchbox */
.nav-search {
  position: absolute;
  top: 6px;
  right: 22px;
  line-height: 24px;
}
.nav-search .form-search {
  margin-bottom: 0;
}
.nav-search .nav-search-input {
  border: 1px solid #6fb3e0;
  width: 152px;
  height: 28px !important;
  border-radius: 4px !important;
  font-size: 13px;
  color: #666666 !important;
  z-index: 11;
  -webkit-transition: width ease .15s;
  transition: width ease .15s;
}
.nav-search .nav-search-input + .dropdown-menu {
  /* the typeahead menu*/

  min-width: 0;
  left: 0;
  right: 0;
}
.nav-search .nav-search-input:focus,
.nav-search .nav-search-input:hover {
  border-color: #6fb3e0;
}
.nav-search .nav-search-icon {
  color: #6fb3e0 !important;
  font-size: 14px !important;
  line-height: 24px !important;
}
.nav-search.minimized .nav-search-input {
  width: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  max-width: 0;
}
.nav-search.minimized:hover .nav-search-input,
.nav-search.minimized .nav-search-btn:active + .nav-search-input,
.nav-search.minimized .nav-search-input:focus,
.nav-search.minimized .nav-search-input:hover,
.nav-search.minimized .nav-search-input:active {
  opacity: 1;
  filter: alpha(opacity=100);
  width: 152px;
  max-width: 152px;
}
.nav-search.minimized .nav-search-icon {
  border: 1px solid;
  border-radius: 100%;
  background-color: #FFF;
  padding: 0 5px !important;
}
.nav-search.minimized:hover .nav-search-icon,
.nav-search.minimized .nav-search-input:focus ~ .nav-search-icon,
.nav-search.minimized .nav-search-input:hover ~ .nav-search-icon,
.nav-search.minimized .nav-search-input:active ~ .nav-search-icon {
  border: none;
  border-radius: 0;
  padding: 0 3px !important;
}
.nav-search-icon {
  border: none;
  border-radius: 0;
  padding: 0 3px !important;
}
/* nav-search inside sidebar */
.sidebar > .nav-search {
  position: static;
  background-color: #FAFAFA;
  border-bottom: 1px solid #DDD;
  text-align: center;
  height: 35px;
  padding-top: 6px;
}
.sidebar > .nav-search .nav-search-input {
  width: 162px !important;
  border-radius: 0 !important;
  max-width: 162px !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.sidebar > .nav-search .nav-search-input + .dropdown-menu {
  text-align: left;
}
/* sidebar when minimized */
.sidebar.menu-min .nav-search .form-search {
  position: absolute;
  left: 5px;
  z-index: 14;
}
.sidebar.menu-min .nav-search .nav-search-input {
  width: 0 !important;
  max-width: 0 !important;
  opacity: 0 !important;
  filter: alpha(opacity=0) !important;
}
.sidebar.menu-min .nav-search .nav-search-input:hover,
.sidebar.menu-min .nav-search .nav-search-input:focus,
.sidebar.menu-min .nav-search .nav-search-input:active {
  width: 162px !important;
  max-width: 162px !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.sidebar.menu-min .nav-search .nav-search-input:hover ~ #nav-search-icon,
.sidebar.menu-min .nav-search .nav-search-input:focus ~ #nav-search-icon,
.sidebar.menu-min .nav-search .nav-search-input:active ~ #nav-search-icon {
  border: none;
  border-radius: 0;
  padding: 0 3px !important;
}
.sidebar.menu-min .nav-search:hover .nav-search-input {
  width: 162px !important;
  max-width: 162px !important;
  opacity: 1 !important;
  filter: alpha(opacity=100) !important;
}
.sidebar.menu-min .nav-search:hover .nav-search-input ~ .nav-search-icon {
  border: none;
  border-radius: 0;
  padding: 0 3px !important;
}
.sidebar.menu-min .nav-search .nav-search-icon {
  /* inside minimized sidebar */

  border: 1px solid;
  border-radius: 32px;
  background-color: #FFF;
  padding: 0 5px !important;
}
/**
@media only screen and (max-width: 979px) {
  .sidebar.responsive-min {
	.searchbox_inside_min_menu();
  }
}
*/
/* responsive searchbox */
@media only screen and (max-width: 767px) {
  .nav-search {
    right: 5px;
  }
  .nav-search .nav-search-input {
    width: 105px;
  }
  .nav-search:hover .nav-search-input,
  .nav-search .nav-search-btn:active + .nav-search-input,
  .nav-search .nav-search-input:focus,
  .nav-search .nav-search-input:hover,
  .nav-search .nav-search-input:active {
    width: 145px;
  }
}
@media only screen and (max-width: 480px) {
  .nav-search .nav-search-input {
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    max-width: 0;
  }
  .nav-search:hover .nav-search-input,
  .nav-search .nav-search-btn:active + .nav-search-input,
  .nav-search .nav-search-input:focus,
  .nav-search .nav-search-input:hover,
  .nav-search .nav-search-input:active {
    opacity: 1;
    filter: alpha(opacity=100);
    width: 152px;
    max-width: 152px;
  }
  .nav-search .nav-search-icon {
    border: 1px solid;
    border-radius: 100%;
    background-color: #FFF;
    padding: 0 5px !important;
  }
  .nav-search:hover .nav-search-icon,
  .nav-search .nav-search-input:focus ~ .nav-search-icon,
  .nav-search .nav-search-input:hover ~ .nav-search-icon,
  .nav-search .nav-search-input:active ~ .nav-search-icon {
    border: none;
    border-radius: 0;
    padding: 0 3px !important;
  }
}
