/* 顶部导航条 */
.navbar {
  margin-bottom: 0;
}
.navbar {
  margin-left: 0;
  margin-right: 0;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  min-height: 45px;
  position: relative;
  background: #438eb9;
}
.navbar > .container {
  padding-left: 0;
  padding-right: 0;
}
.navbar .navbar-text,
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-brand {
  color: #ffffff;
  font-size: 24px;
  text-shadow: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #ffffff;
}
.navbar .navbar-header {
  margin: 0 !important;
}
.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  font-size: 13px;
  text-shadow: none;
  color: #ffffff;
}
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
}
.navbar-container {
  padding-left: 10px;
  padding-right: 20px;
}
.navbar-container.container {
  padding-left: 0;
  padding-right: 0;
}
/* ace-nav */
.ace-nav {
  height: 100%;
  margin: 0 !important;
}
.ace-nav > li {
  line-height: 45px;
  height: 45px;
  border-left: 1px solid #DDD;
  padding: 0;
  position: relative;
  float: left !important;
  /* different colors */

}
.ace-nav > li:first-child {
  border-left: none;
}
.ace-nav > li > a {
  background-color: #2e6589;
  color: #FFF;
  display: block;
  line-height: inherit;
  text-align: center;
  height: 100%;
  width: auto;
  min-width: 50px;
  padding: 0 8px;
  position: relative;
}
.ace-nav > li > a > [class*="icon-"] {
  font-size: 16px;
  color: #FFF;
  display: inline-block;
  width: 20px;
  text-align: center;
}
.ace-nav > li > a > .badge {
  position: relative;
  top: -4px;
  left: 2px;
  padding-right: 5px;
  padding-left: 5px;
}
.ace-nav > li > a:hover,
.ace-nav > li > a:focus {
  background-color: #2c5976;
}
.ace-nav > li.open > a {
  background-color: #2c5976 !important;
}
.ace-nav > li.open > a {
  color: #FFF !important;
}
.ace-nav > li.grey > a {
  background-color: #555555;
}
.ace-nav > li.grey > a:hover,
.ace-nav > li.grey > a:focus {
  background-color: #4b4b4b;
}
.ace-nav > li.open.grey > a {
  background-color: #4b4b4b !important;
}
.ace-nav > li.purple > a {
  background-color: #892e65;
}
.ace-nav > li.purple > a:hover,
.ace-nav > li.purple > a:focus {
  background-color: #762c59;
}
.ace-nav > li.open.purple > a {
  background-color: #762c59 !important;
}
.ace-nav > li.green > a {
  background-color: #2e8965;
}
.ace-nav > li.green > a:hover,
.ace-nav > li.green > a:focus {
  background-color: #2c7659;
}
.ace-nav > li.open.green > a {
  background-color: #2c7659 !important;
}
.ace-nav > li.light-blue > a {
  background-color: #62a8d1;
}
.ace-nav > li.light-blue > a:hover,
.ace-nav > li.light-blue > a:focus {
  background-color: #579ec8;
}
.ace-nav > li.open.light-blue > a {
  background-color: #579ec8 !important;
}
.ace-nav > li.light-blue2 > a {
  background-color: #42a8e1;
}
.ace-nav > li.light-blue2 > a:hover,
.ace-nav > li.light-blue2 > a:focus {
  background-color: #359fd9;
}
.ace-nav > li.open.light-blue2 > a {
  background-color: #359fd9 !important;
}
.ace-nav > li.red > a {
  background-color: #b74635;
}
.ace-nav > li.red > a:hover,
.ace-nav > li.red > a:focus {
  background-color: #a34335;
}
.ace-nav > li.open.red > a {
  background-color: #a34335 !important;
}
.ace-nav > li.light-green > a {
  background-color: #9abc32;
}
.ace-nav > li.light-green > a:hover,
.ace-nav > li.light-green > a:focus {
  background-color: #8ba832;
}
.ace-nav > li.open.light-green > a {
  background-color: #8ba832 !important;
}
.ace-nav > li.light-purple > a {
  background-color: #cb6fd7;
}
.ace-nav > li.light-purple > a:hover,
.ace-nav > li.light-purple > a:focus {
  background-color: #c263ce;
}
.ace-nav > li.open.light-purple > a {
  background-color: #c263ce !important;
}
.ace-nav > li.light-orange > a {
  background-color: #f79263;
}
.ace-nav > li.light-orange > a:hover,
.ace-nav > li.light-orange > a:focus {
  background-color: #f28653;
}
.ace-nav > li.open.light-orange > a {
  background-color: #f28653 !important;
}
.ace-nav > li.light-pink > a {
  background-color: #f4dae5;
}
.ace-nav > li.light-pink > a:hover,
.ace-nav > li.light-pink > a:focus {
  background-color: #eeccda;
}
.ace-nav > li.open.light-pink > a {
  background-color: #eeccda !important;
}
.ace-nav > li.dark > a {
  background-color: #404040;
}
.ace-nav > li.dark > a:hover,
.ace-nav > li.dark > a:focus {
  background-color: #363636;
}
.ace-nav > li.open.dark > a {
  background-color: #363636 !important;
}
.ace-nav > li.white-opaque > a {
  background-color: rgba(255, 255, 255, 0.8);
}
.ace-nav > li.white-opaque > a:hover,
.ace-nav > li.white-opaque > a:focus {
  background-color: rgba(245, 245, 245, 0.8);
}
.ace-nav > li.open.white-opaque > a {
  background-color: rgba(245, 245, 245, 0.8) !important;
}
.ace-nav > li.dark-opaque > a {
  background-color: rgba(0, 0, 0, 0.2);
}
.ace-nav > li.dark-opaque > a:hover,
.ace-nav > li.dark-opaque > a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.ace-nav > li.open.dark-opaque > a {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
.ace-nav > li.margin-4 {
  margin-left: 4px;
}
.ace-nav > li.margin-3 {
  margin-left: 3px;
}
.ace-nav > li.margin-2 {
  margin-left: 2px;
}
.ace-nav > li.margin-1 {
  margin-left: 1px;
}
.ace-nav > li.no-border {
  border: none !important;
}
.ace-nav > li .dropdown-menu {
  z-index: 1031;
}
.ace-nav .nav-user-photo {
  margin: -4px 8px 0 0;
  border-radius: 100%;
  border: 2px solid #FFF;
  max-width: 40px;
}
.ace-nav li:last-child a [class^="icon-"] {
  /* the arrow indicating "See more" on each dropdown , and the icons of user menu */

  display: inline-block;
  width: 1.25em;
  text-align: center;
}
/* ace-nav responsive */
@media only screen and (max-width: 767px) {
  .navbar-container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
    right: -80px;
  }
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
    right: 100px;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
    right: -40px;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
    right: 60px;
  }
  .user-menu.dropdown-close.pull-right {
    right: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
    right: -120px;
  }
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
    right: 140px;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
    right: -80px;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
    right: 100px;
  }
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right {
    right: -50px;
  }
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:after {
    right: 70px;
  }
}
@media only screen and (max-width: 460px) {
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right {
    left: -5px;
    right: auto;
  }
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(4) > .dropdown-menu.pull-right:after {
    right: auto;
    left: 25px;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right {
    left: -60px;
    right: auto;
  }
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(3) > .dropdown-menu.pull-right:after {
    left: 80px;
    right: auto;
  }
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right {
    left: -110px;
    right: auto;
  }
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:before,
  .ace-nav > li:nth-last-child(2) > .dropdown-menu.pull-right:after {
    left: 130px;
    right: auto;
  }
}
/* move the icons to the line below */
@media only screen and (max-width: 460px) {
  .navbar .navbar-header.pull-left {
    display: block;
    float: none !important;
  }
  .navbar .navbar-header.pull-right {
    display: block;
    float: none !important;
  }
  /*.navbar .navbar-inner {
    border-bottom-width:0;
   }*/
  .ace-nav {
    display: block;
    float: none !important;
    text-align: center;
    background-color: #404040;
    border: 1px solid #DDD;
    border-width: 1px 0;
    letter-spacing: -3px;
  }
  .ace-nav > li {
    display: inline-block;
    float: none !important;
    text-align: left;
    letter-spacing: normal;
  }
  .ace-nav > li:first-child {
    border-left: 1px solid #DDD;
  }
  .ace-nav > li:last-child {
    border-right: 1px solid #DDD;
  }
}
@media only screen and (max-width: 320px) {
  .ace-nav > li > a {
    padding: 0 5px !important;
  }
}
.user-menu > li > a {
  padding: 4px 12px;
}
.user-menu > li > a > [class*="icon-"] {
  margin-right: 6px;
  font-size: 120%;
}
.user-info {
  max-width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  line-height: 15px;
  position: relative;
  top: 6px;
}
.user-info small {
  display: block;
}
@media (min-width: 461px) and (max-width: 480px), (max-width: 360px) {
  .user-menu {
    padding-top: 42px !important;
  }
  .ace-nav .nav-user-photo {
    margin-right: 0;
  }
  .user-info {
    position: absolute !important;
    margin-top: 40px;
    margin-left: 1px;
    right: 2px;
    z-index: 1032;
    color: #777;
    font-size: 14px;
    width: 156px;
    max-width: 156px;
    padding-left: 8px;
    padding-right: 8px;
    height: 32px;
    line-height: 26px !important;
    display: none;
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
    vertical-align: none;
    line-height: normal;
  }
  .user-info > small {
    display: inline;
    opacity: 1;
  }
  li.open .user-info {
    display: inline-block;
  }
}
.ace-nav {
  margin-top: 10px !important;
}
.topic {
  font-size: 30px;
  font-family: "微软雅黑";
}
.navbar {
  background-color: #ffffff;
}
.ace-nav > li.blue > a {
  background-color: #0099CC;
}
.ace-nav > li.blue > a:hover,
.ace-nav > li.blue > a:focus {
  /*background-color: #4b4b4b;*/

}
.ace-nav > li.open.blue > a {
  background-color: #4b4b4b !important;
}
.ace-nav > li.green > a {
  background-color: #42AD15;
}
.ace-nav > li.green > a:hover,
.ace-nav > li.green > a:focus {
  /*background-color: #762c59;*/

}
.ace-nav > li.open.green > a {
  /*background-color: #762c59 !important;*/

}
.ace-nav > li.orangred > a {
  background-color: #E35B00;
}
.ace-nav > li.green > a:hover,
.ace-nav > li.green > a:focus {
  /*background-color: #66bbd8;*/

}
.ace-nav > li.open.green > a {
  background-color: #2c7659 !important;
}
.ace-nav > li.orang > a {
  background-color: #E35B00;
}
.ace-nav > li.shengreen > a {
  background-color: #19A577;
}
.ace-nav > li.orang > a {
  background-color: #FF9000;
}
.ace-nav > li.purple > a {
  background-color: #8C7EB6;
}
