.base_style,#monitor_allpbx {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    margin: 0;
}

.base_style div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

.clear {
    clear: both;
    height: 0;
}
.clearfix:after, .timeline_data:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.main_container {
    min-height: 100%;
    margin: 0 auto;
}

.main {
    min-width: 1100px;
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 auto;
    clear: both;
}
.disabled {
    opacity: 0.2;
    filter: alpha(opacity=20);
    cursor: default;
}
.form-signin {
    padding: 19px 29px 29px;
    margin: 0 180px 20px 250px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.form-signin-app {
    /**max-width: 300px;**/
    padding: 19px 29px 29px;
    margin: 0 180px 20px 450px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.form-contex {
	ZOOM: 1;
    height: 100%;
    MARGIN-LEFT: auto;
    MARGIN-RIGHT: auto;
}

.form-signin-app-mid {
	MIN-HEIGHT: 480px;
    max-height: 100%;
    MARGIN-BOTTOM: 0px;
    HEIGHT: auto !important;
}

.main_header {
    position: relative;
    min-width: 1100px;
    width: 100%;
    height: 41px;
    top: 0;
    left: 0;
}
.header_top {
    color: #000;
    margin-bottom: 1px;
    position: relative;
    min-width: 1115px;
    width: 100%;
}
.header_top .middle-header {
    float: left;
    text-align:center;
    position: relative;
}
.header_top .logout_header {
    float: right;
    margin-right: 5px;
    margin-top: 12px;
}

.header_top .logout_header .font {
    font-size: 13px;
    font-weight: bold;
    color: #000;
}

.header_top .logout_header .font:hover {
    color: #B30000;
}

.main_container {
    position: relative;
}
.right_content {
    top: -1px;
    width: 100%;
}


.mid-column {
    position: absolute;
    left: 15%;
    padding: 0px;
    width: 55%;
    min-width: 334px;
    height: 100%;
}

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0px;
    width: 10px;
    height: 100%;
    background: white;
    visibility: hidden;
}

.jspVerticalBar *, .jspHorizontalBar * {
    margin: 0;
    padding: 0;
}


.jspTrack {
    background: #E5E5E5;
    position: relative;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    width: 10px;
}

.jspDrag {
    background: silver;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.jspDrag.jspHover.jspActive {
    background: #666
}

.jspDrag.jspHover {
    background: #999999
}

.contacts_caption {
    color: black;
    position: relative;
    z-index: 20;
    width: 100%;
    padding-right: 15px;
}

.contacts_caption .caption-top {
    padding: 10px 0 0 0;
}


.contacts_caption .caption-top .add-contact-link-cont {
    float: right;
    margin: 0 25px 0 0;
}

.contacts_caption .caption-top .add-contact-link-cont .add-contact-link.button {
    margin-top: 0;
}

.contacts_caption .caption-top .bulk_select {
    float: left;
    background: #F0F0F0;
    padding: 0 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(./assets./PIE.htc);
    height: 28px;
    width: 25px;
    margin: 0 22px 0 0;
}

.bulk_select {
    margin-bottom: 16px;
    font-weight: bolder;
}

.contacts_caption .caption-top .refresh {
    float: left;
    margin: 0 0 0 30px;
}

.contacts_caption .caption-top .refresh a {
    line-height: 28px;
    height: 28px;
    padding: 0 0 0 15px;
    position: relative;
    display: inline-block;
    color: #666;
    font-size: 12px;
    text-decoration: none;
}

.contacts_caption .caption-top .refresh a:hover {
    text-decoration: underline;
}

.list-container {
    position: relative;
    clear: both;
    overflow-y: auto;
    overflow-x: hidden;
}

.contact_list, .az-list {
    outline: none;
}

.contact_list .list-inside, .az-list .list-inside {
    padding-bottom: 10px;
    /*margin-right: 25px;*/
}

.contact_item_row, .call_item_row {
    position: relative;
    clear: both;
    overflow: hidden;
    border-bottom: 2px solid white;
}

.compact-view .contact_item {
    min-height: 65px;
}

.contact_item_row .contact_item {
    background-color: #F0F0F0;
    cursor: pointer;
}

.view .contact_item .status {
    right: 12px;
    top: 5px;
    font-size: 11px;
}

.compact-view .status, .one-line-view .status {
    font-size: 11px;
}

.contact_item .bulk, .contact_item .status {
    display: block;
    float: left;
}

.contact_item .status, .colleague-item .status {
    max-width: 90px;
    text-align: right;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.compact-view .left-items, .one-line-view .left-items {
    float: left;
    width: 62px;
}

.contact_item .bulk {
    height: 29px;
    padding: 0 0 0 8px;
    width: 24px;
    text-align: center;
}

.compact-view .contact_item .status {
    right: 12px;
    top: 5px;
    font-size: 11px;
}

.contact_item .bulk, .contact_item .status {
    display: block;
    float: left;
}

.contact_item .bulk input {
    vertical-align: middle;
    margin: -1px auto 0;
}

.compact-view .contact_item .starred, .one-line-view .contact_item .starred {
    top: 0;
}

.contact_item .recentTime{
    text-align: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.compact-view .contact_item .middle-items {
    padding: 7px 0;
    margin: 0 105px 0 62px;
}

.compact-view .contact_item .contact {
    min-height: 30px;
}

.compact-view .middle-items .contact, .one-line-view .middle-items .contact {
    padding-right: 0;
    margin-left: 0;
}

.contact_item .contact, .colleague-item .contact {
    padding-right: 15px;
    overflow: hidden;
}

.compact-view .middle-items .contact .name, .one-line-view .middle-items .contact .name {
    font-size: 14px;
}

.contact_item .contact .name, .colleague-item .contact .name {
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration: none;
}

.compact-view .middle-items .contact .major, .one-line-view .middle-items .contact .major {
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.compact-view .contact_item .major {
    margin-bottom: 1px;
    font-size: 14px;
    display: inline-block;
}

.compact-view .middle-items .contact .minor, .one-line-view .middle-items .contact .minor {
    margin-left: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.compact-view .contact_item .minor {
    float: none;
    clear: left;
    display: block;
}

.contact_item .contact .minor, .colleague-item .contact .minor {
    font-weight: normal;
    font-size: 11px;
    display: block;
    color: #666;
}

.view .contact_item .next_action {
    padding-top: 4px;
    margin-right: -100px;
}

.compact-view .contact_item .next_action {
    padding-top: 4px;
    margin-right: -100px;
}

.contact_item .next_action, .colleague-item .next_action {
    clear: left;
    float: none;
    overflow: hidden;
}

.action_date {
    color: white;
    position: relative;
    background: #BDAD92;
    font-weight: bold;
    font-family: Arial, sans-serif;
    height: 14px;
    padding-left: 6px;
    line-height: 15px;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    font-size: 10px;
    padding: 0 5px;
    min-width: 35px;
}

.action_next, .overdue, .asap {
    background: #C00;
}


.contact_item_row.expanded .contact_item, .contact_item_row.expanded:hover .contact_item, .contact_item_row.expanded .contact_item:hover, .contact_item_row.expanded.touched .contact_item, .contact_item_row.expanded .contact_item.touched, .contact_item_row.contact_loading .contact_item, .colleagues-list.expanded .contact_item, .colleagues-list.expanded:hover .contact_item, .colleagues-list.expanded .contact_item:hover, .colleagues-list.expanded.touched .contact_item, .colleagues-list.contact_loading .contact_item {
    background-color: #D7D5D1;
}

.contact_item_row:hover .contact_item, .contact_item_row.touched .contact_item, .contact_item_row .colleague-item:hover, .contact_item_row .colleague-item.touched, .colleagues-list:hover .contact_item, .colleagues-list.touched .contact_item, .colleagues-list .colleague-item:hover, .colleagues-list .colleague-item.touched {
    background-color: #E5E5E3;
}

.contact_item_row.expanded::after, .colleagues-row .colleague-item.expanded::after, .colleagues-row .colleagues-bar.expanded::after {
    border-width: 4px 6px;
    border-style: inset solid inset inset;
    border-color: transparent white transparent transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    position: absolute;
    right: 0;
    top: 47%;
    height: 0;
    width: 0;
}

.contact_item_row:hover .contact_item.active {
    background-color: #D6E2EE;
}

.link-button {
    font-size: 12px;
    color: #666;
    display: inline-block;
    padding: 0 0 0 20px;
    position: relative;
    height: 19px;
    line-height: 19px;
    float: right;
}

.link-button.kedit {
    padding: 0 20px 0 20px;
}

.link-button:hover {
    text-decoration: underline;
}


.hidden2 {
    display: none!important;
}

.contact-info .address {
    display: table;
    line-height: 1.3;
    margin-top: 5px;
}

.tags_and_status {
    padding: 0px ; font-size: 12px; margin-top: 0px;
}
.tags_and_status .edit_tags {
    float: left; position: relative;
}
.tags_and_status .edit_status {
    float: left; position: relative;
}
.tags_and_status .saving {
    clear: both; float: left;
}
.tags_and_status .bottom_tip {
    bottom: -4px; position: relative;
}
.edit_status {
    padding: 0px; width: 100px; float: left; white-space: nowrap;
    padding-top: 5px;
}
.edit_status span {
    margin: 0px !important;
}
.edit_status .label2 {
    color: rgb(51, 51, 51); overflow: hidden; padding-right: 11px; font-weight: bold; margin-right: 4px; float: left; white-space: nowrap; position: relative; cursor: pointer; -ms-text-overflow: ellipsis; max-width: 120px;
}
.edit_status .label2:after {
    border-width: 4px; border-style: solid; border-color: rgb(164, 164, 164) rgb(255, 255, 255) rgb(255, 255, 255); right: 0px; bottom: 0px; display: inline-block; position: absolute; content: "";
}
.edit_status .open.label2:after {
    border-width: 4px; border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(164, 164, 164); right: 0px; bottom: 4px; display: inline-block; position: absolute; content: "";
}
.edit_status .contact_status_drop {
    color: rgb(178, 178, 178); cursor: pointer;
}
.edit_status .contact_status_drop:hover {
    text-decoration: underline;
}
.edit_status .touched.contact_status_drop {
    text-decoration: underline;
}
.edit_status .saving {
    background: rgb(255, 241, 168); padding: 3px 5px; left: 0px; color: rgb(102, 102, 102); display: inline-block; position: relative;
}

.tip-content {
    background: rgb(67, 67, 68); padding: 10px; border-radius: 4px; color: rgb(255, 255, 255); line-height: 1.3; font-size: 11px; display: block; -ms-behavior: url(./PIE.htc); -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.localCust {
    float: right;
    padding-left: 0px;
    margin-left: 10px;
}
.localCust:hover {
    background:  rgb(242, 242, 242); text-decoration: none !important;
}


.multi-file-list {
    clear: both;
}

.multi-file-list ul {
    background: #f0f0f0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    padding: 5px;
}

.multi-file-list ul li {
    min-height: 13px;
    padding: 5px;
    line-height: 1.2;
    overflow: hidden;
}

.file-uploading .file-name {
    max-width: 77%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.multi-file-list ul li {
    line-height: 1.2;
}

.multi-file-list .file-size:before {
    content: "(";
}

.multi-file-list .file-size:after {
    content: ")";
}

.bottom_tip {
    float: right;
    margin-right: 10px;
    font-size: 11px;
    color: #999;
    font-style: italic;
    clear: both;
}

.small-note {
    color: #999;
}

.form_buttons:after, .buttons:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.button, .contacts_caption .bulk a.button {
    background: -moz-linear-gradient(center top, #fff 20%, #ebebeb 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
    background: -ms-linear-gradient(top, #fff 20%, #ebebeb 100%);
    background: -webkit-linear-gradient(top, #fff 20%, #ebebeb 100%);
    background: -o-linear-gradient(top, #fff 20%, #ebebeb 100%);
    background: linear-gradient(#fff, #ebebeb);
    -pie-background: linear-gradient(#fff 20%, #ebebeb 100%);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    behavior: url(/assets/PIE.htc);
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.29);
    background-color: #f5f5f5;
    border-color: #dedede #b7b7b7 #a6a6a6;
    border-style: solid;
    border-width: 1px;
    color: #0782d4;
    text-shadow: 1px 1px 1px #fff;
    display: block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    margin: 10px 5px;
    padding: 5px 14px 5px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
}

.cancel_button {
    color: #db2b5d !important;
    font-weight: normal;
    text-decoration: none;
    margin: 18px 16px 0;
    float: left;
    display: block;
}

.created-by {
    font-size: 11px;
    color: #777;
    font-weight: normal;
    float: right;
    font-style: italic;
    text-align: right;
}

.table {
    display: table;
    height: 100%;
}

.cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

a.username {
    font-style: normal;
}

.task-comments-area {
    border-top-width: 1px;
    border-top-color: #808080;
}

.blue {
    color: #4893d7;
}
.count {
    background: -moz-linear-gradient(center top, #D34F4F 20%, #B30000 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#D34F4F), to(#B30000));
    background: -ms-linear-gradient(top, #D34F4F 20%, #B30000 100%);
    background: -webkit-linear-gradient(top, #D34F4F 20%, #B30000 100%);
    background: -o-linear-gradient(top, #D34F4F 20%, #B30000 100%);
    background: linear-gradient(#D34F4F, #B30000);
    -pie-background: linear-gradient(#d34f4f 20%, #b30000 100%);
    behavior: url(./PIE.htc);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 0 5px;
    background-color: #B90505;
    border: #B90505;
    color: white;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    font-weight: bold;
    margin-top: 8px;
    margin-left: 10px;
    text-indent: 0;
}

.right_content .methodology {
    color: #999;
    font-family: Georgia, serif;
    font-size: 14px;
    -webkit-font-size: 16px;
    font-style: italic;
    padding: 30px 43px 20px 40px;
    position: relative;
    z-index: 0;
    width: 357px;
    overflow: hidden;
}

.right_content .methodology p {
    margin: 10px 0;
}

.right_content .methodology {
    color: #999;
    font-family: Georgia, serif;
    font-size: 14px;
    font-style: italic;
}

.contact-info .phone span.type {
    color: #666;
    font-size: 11px;
}


.button:hover {
    background: -moz-linear-gradient(center top, #fff 20%, #f4f4f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f4f4f4));
    background: -ms-linear-gradient(top, #fff 20%, #f4f4f4 100%);
    background: -webkit-linear-gradient(top, #fff 20%, #f4f4f4 100%);
    background: -o-linear-gradient(top, #fff 20%, #f4f4f4 100%);
    background: linear-gradient(#fff, #f4f4f4);
    -pie-background: linear-gradient(#fff 20%, #f4f4f4 100%);
    background-color: #f2f2f2;
}

.add_comment textarea {
    width: 505px;
    resize: vertical;
    margin-top: 10px;
}
.custom-fields-area .item {
    border-radius: 6px;
    background: #f0f0f0;
    height: 40px;
    line-height: 40px;
    width: 70%;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 0 15px 0 9px;
    clear: left;
}

.custom-fields-area .item .nav {
    padding: 7px 12px 0 0;
}


.custom-fields-area .item .nav .up, .custom-fields-area .item .nav .down, #config_interface_table .up, #config_interface_table .down{
    width: 17px;
    height: 12px;
    display: block;
    cursor: pointer;
    overflow: hidden;
}

.custom-fields-area .item .name-type {
    font-weight: bold;
}

.custom-fields-area .item .name-type span:before {
    content: "(";
}

.custom-fields-area .item .name-type span:after {
    content: ")";
}

.add-custom-field:hover, .add-custom-field.touched {
    text-decoration: underline;
}

.square.status0 {
    background: #f96600;
}
.square.status1 {
    background: #c00;
}
.square.status2 {
    background: #dd90ff;
}
.square.status3 {
    background: #39f;
}
.square.status4 {
    background: #666;
}
.square.status5 {
    background: #000;
}
.square.status6 {
    background: #bdb100;
}
.square.status7 {
    background: #090;
}
.square.status8 {
    background: #002680;
}
.square.status9 {
    background: #5b00b5;
}

.status0 {
    color: #f96600!important;
}
.status1 {
    color: #c00!important;
}
.status2 {
    color: #dd90ff!important;
}
.status3 {
    color: #39f!important;
}
.status4 {
    color: #666!important;
}
.status5 {
    color: #000!important;
}
.status6 {
    color: #bdb100!important;
}
.status7 {
    color: #090!important;
}
.status8 {
    color: #002680!important;
}
.status9 {
    color: #5b00b5!important;
}
.role_item input[type="checkbox"]{
    margin-top: 0;
}

.phone_search_input {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
    position:absolute;
    height: 180px;
    overflow-y: visible;
}

.phone_search_input ul {
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.phone_search_input li {
    margin: 0px;
    padding: 2px 5px;
    cursor: default;
    display: block;
    font: menu;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
}

.phone_search_odd {
    background-color: #f0f0f0;
}

.clear10 {
    height: 10px;
    overflow: hidden;
    clear: both;
}

.clear5 {
    height: 5px;
    overflow: hidden;
    clear: both;
}

.clear1 {
    height: 1px;
    overflow: hidden;
    clear: both;
}

.contact_detail .action-bar {
    background: #f0f0f0; padding: 0px 10px 0px 10px; border-radius: 4px; height: 33px; line-height: 33px;
    clear: both; position: relative;-moz-border-radius: 4px; -webkit-border-radius: 4px;
}
.contact_detail .action-bar h2 {
    text-transform: uppercase;
    float: left;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;
    color: #000;
}



.contact-info {
    margin-left: 6px;
}
.contact-info h3 {
    font-size: 16px; margin-bottom: 5px;
}
.contact-info .item {
    padding-bottom: 8px; display: block;
}
.contact-info .email a {
    font-size: 13px;
}
.contact-info .website {
    width: inherit; overflow: hidden; white-space: nowrap;
}
.contact-info .job-title {
    margin: 8px 0px 0px; font-size: 13px;
}
.contact-info .job-title span {
    font-weight: bold;
}
.contact-info .phone {
    color: rgb(0, 0, 0); font-size: 16px; font-weight: bold;
}
.contact-info .phone span.type {
    color: rgb(102, 102, 102); font-size: 11px;
}
.contact-info .email span {
    color: rgb(102, 102, 102); font-size: 11px;
}
.contact-info .website span {
    color: rgb(102, 102, 102); font-size: 11px;
}
.contact-info .phone-number {
    display: inline-block;
}

.contact-info .blackNum {
    font-size:12px; display: inline-block; position: relative;color:black;
    margin: 0 0 -3px 2px;
}
.contact-info .skype-container {
    width: auto; display: inline-block; position: relative;
}
.contact-info .custom_fields {
    clear: both; margin-top: 5px; margin-left: 0px;
}
.contact-info .custom_fields p {
    padding: 4px 0px; overflow: hidden; clear: both; position: relative;
}
.contact-info .custom_fields p span {
    width: 70%; float: left; display: block;
}
.contact-info .custom_fields p .label3 {
    padding: 0px 12px 4px 0px; left: 0px; top: 2px; width: 100px; text-align: right; color: rgb(102, 102, 102); line-height: 1; font-size: 11px; position: relative;
}

.today_action {
    background: #f90!important;
}

.fl{
    float: left;
}

.newTag {
    background-color: #B30000;
    color: #fff;
    padding-left: 2px;
    padding-right: 2px;
}

.left_col .left_nav_line_2{
    font-weight: bold;
    font-size: 12px;
    color: #707e8b;
}

.caption-top .info{
    font-weight: bold;
    color: #000;
}

.caret_up {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-bottom: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

#main-panel .showTipInfo {
    position: absolute;
    bottom: 52px;
    width: 0px;
    border: 1px solid #666666;
    z-index: 1000;
    height: 0px;
    left: 30px;
    background-color: #ffffff;
    border-radius:5px;
    display: none;
}

#main-panel .showTipInfo .retract {
    float: right;
    padding-right: 17px;
    padding-top: 5px;
}

#main-panel .showTipInfo .topline {
    border-bottom: 1px solid #ccc;
    height: 1px;
    margin-right: 10px;
    margin-left: 10px;
}

.caret_up {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}
.menuAcceListDiv ul{
padding:6px;
}
.menuAcceListDiv ul li{
    list-style-type: none;
    width: 100%;
    height: 26px;
}
.menuAcceListDiv div{
    overflow-x: hidden;
    overflow-y: auto;
}
.menuAcceListDiv{
    width: 100%;
    height: 150px;
}

.field-label{
    float: left;
    width: 80px;
    margin-right: -100%;
}
.field-option{
    float: left;
    width: 100%;
}
.field-option-inner{
    margin-left: 90px;
}

label.radio.inline{
    width:auto;
    padding-top: 0px;
}
.dicDiv1,.dicDiv2,.dicDiv3{
    height: 200px;
    border: 1px palegreen solid;
    min-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}
.dicEverTop ul.pressed{
    display: block;
}
.dicEverTop ul{
    display: none;
}
.dicSpan .action.show{
    background-color: rgb(255, 236, 236);
}
.dicSpan .actionforcheckbox.show{
    background-color: rgb(255, 236, 236);
}

.dicSpan .actionforcheckbox{
    background-color: white;
}
.dicSpan .action{
    background-color: white;
}
.dicEverTop .DicHeader input{
    width:80%;
}
.DicHeader{
    height:40px;
}

.inline{
    display: inline-block;
}
.left-link .space {
    display: inline-block;
    height: 15px;
    line-height: 15px;
    margin-top: 8px;
}

div.formEdit {
    margin-top: 20px;
    width: auto;
    float: none;
    position: relative;
}

.search_input_li .word {
    float:left;
    text-overflow:ellipsis;
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
}

