/*公共样式*/
*{
    padding: 0;
    margin: 0;
}
ul li{
    list-style: none;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.p20{
    padding: 20px;
}
.pb20{
    padding-bottom: 20px;
}
.m20{
    margin: 20px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt20{
    margin-top: 20px;
}
.same-content{
    width: 1180px;
    margin: 0 auto;
    background-color: #fff;
}
/*清除浮动*/
.clearfix:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}
.clearfix {
    zoom:1;
}
a{
    text-decoration: none;
    color: #526069;
}
a:hover{
    color: #08a1ef;
}
.border-bottom{
    border-bottom: 1px solid #e6ebed;
}
.border{
    border: 1px solid #e6ebed;
}
body{
    background-color: #f0f3f4;
    font: 14px/1.2 '微软雅黑',YaHei,'黑体',Hei,Tahoma,Helvetica,arial,sans-serif;
    color: #526069;
}
.header{
    background-color: #fff;
    height: 60px;
    line-height: 60px;
}
.header img{
    vertical-align: middle;
}

/*内容区域*/
.contain{
    margin-top: 20px;
}
.carousel-inner{
	overflow: visible!important;
}
.contain h1{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    font-weight: 400;
}
/*鼠标经过添加阴影*/
/* .item-list a:hover, */
.audio ul li:hover{
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}

/*场景封面*/
.scene-title img{
    width: 90px;
    height: 90px;
    margin-right: 16px;
}
.scene-title p{
    line-height: 30px;
}
/*文本、关键字*/
.text a{
    color: #fff;
    border-radius: 4px;
    line-height: 20px;
    padding: 8px 20px;
    margin: 20px 0 0 20px;
    display: inline-block;
    background-color: #76838f;
    text-decoration: none;
}
.text a:hover{
    color: #fff;
    text-decoration: none;
}
.text a:active { 
	color: #fff;
	text-decoration: none;
}

/*图片视频*/
.image h1 span,
.audio h1 span,
.video h1 span{
    font-size: 14px;
    padding-left: 10px;
}
.image .item-list a,
.image .item-list .eye{
    width: 212px;
    height: 212px;
    line-height: 212px;
}
.video .item-list a,
.video .item-list .eye{
    width: 270px;
    height: 180px;
    line-height: 180px;
}
.item-list{
    max-height: 464px;
    overflow-y: auto;
}
.item-list a{
    float: left;
    display: block;
    margin: 0 20px 20px 0;
    position: relative;
    background-color: #e6ebed;
    overflow: hidden;
}
.item-list a > img{
    width: 100%;
    vertical-align: middle;
}
.image .item-list a:nth-child(5n),
.video .item-list a:nth-child(4n){
    margin-right: 0;
}

.item-list a:hover .eye{
    opacity: 1;
}

.item-list .eye{
    top: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    background-color: rgba(0,0,0,.8);
}
.image .item-list .eye img{
    margin-top: 80px;
}
.video .item-list .eye img{
    margin-top: 60px;
}
.item-list .eye img{
    width: 24px;
    height: 24px;
    padding: 20px;
    border-radius: 44px;
    background-color: rgba(255,255,255,.2);
}
.item-list .eye img:hover{
    background-color: #08a1ef;
}
/*音乐/外链*/
.audio ul li{
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
}
.audio ul li a{
    display: block;
}
.audio ul li span{
    padding-right: 10px;
}
.audio ul li a img{
    display: none;
    background-color: #59c7f9;
    padding: 8px;
    border-radius: 20px;
    margin-top: 10px;
}
.audio ul li a:hover img{
    display: block;
}
.audio ul li .green {
    color: #48d582;
}
.audio ul li .red {
    color: #ff7e7e;
}
/*
底部*/
.footer{
    background-color: #475975;
    padding: 50px 100px;
    color: #fff;
    margin-top: 40px;
}
.footer .checkbox-square,
.footer label{
    display: inline-block;
}
.footer label{
    padding-right: 30px;
    vertical-align: top;
}
.footer textarea{
	color: black;
	padding: 6px;
}

.footer .checkbox-square{
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 2px solid #ccd5db;
    background-color: #fff;
    cursor: pointer;
    margin-right: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.footer .checkbox-square img{
    position: absolute;
    top: -4px;
    left: -1px;
    opacity: 0;
    width: 22px;
    height: 22px;
}
.footer .checkbox-square:hover{
    border-color: #6fe29f;
}
.footer .checkbox-square.checked{
    background-color: #6fe29f;
    border: none;
}
.footer .checkbox-square.checked img{
    opacity: 1;
}
.footer .checkbox-square input{
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
}
.footer .area .button{
    margin-top: 39px;
}
.footer .area .button a{
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}
.footer .area .success{
    background-color: #48d5b2;
    margin-right: 30px;
}
.footer .area .success:hover{
    background-color: #6fe29f;
}
.footer .area .back{
    background-color: #ff7e7e;
}
.footer .area .back:hover{
    background-color: #ff7267;
}