<div class="container-fluid">
	<div class="page-header"><h1>${message!}!</h1></div>
	<div><a href="javascript:" class="btn">联系管理员</a></div>
	<div>${exception!}</div>
	<script>try{$.jBox.closeTip();}catch(e){}</script>
</div>
